<!DOCTYPE html> 
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="icon" href="" >  

</head>

<body>
    <div align="center" class="main-content">
        <h2>Log In</h2>
        <form id="loginform" style="padding-top: 40px;">
            <input id="email" placeholder="Email" required> </br>
            <input id="password" type="password" placeholder="Password" required> </br>
            <button id="submit" >Login</button>
            <a href="/signup">Signup</a>
            <p id="loginmessage"></p>
        </form>
    </div>

<script src="/js/index.js"></script>
</body>


</html>