<!DOCTYPE html> 
<html>
<head>
    <title>Logout | Task Manager</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="" > 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <a id="logout" href="#">Logout</a></br> 
        <a id="logoutall" href="#">Logout From All Devices</a></br> 
        <a id="delaccount" href="#">Delete Account</a></br> 
    </div>
    {{>footer}}

<script src="/js/app.js"></script>
</body>


</html>