<!DOCTYPE html> 
<html>
<head>
    <title>Tasks | Task Manager</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="" > 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="tasklist"></div>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>  
</body>


</html>