<header>
    <h1> {{title}} </h1>
    <div>

        <a href='/profile'>Profile</a> 
        <a href='/task'>Task</a> 
        <a href='/createtask'>Create Task</a>
        <a href='/logout'>Logout</a> 
        
    </div> 
</header>
